:root {
	font-family: 'Figtree-Regular';
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 12px;
	background: #f8f9fd;
	color: #0a2757;
}

body::-webkit-scrollbar {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}

@font-face {
	font-family: 'Figtree-Bold';
	src: url('/fonts/Figtree-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Figtree-SemiBold';
	src: url('/fonts/Figtree-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Figtree-Medium';
	src: url('/fonts/Figtree-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Figtree-Regular';
	src: url('/fonts/Figtree-Regular.ttf');
	font-weight: 400;
}

@keyframes tilt-shaking {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(2deg);
	}
	50% {
		transform: rotate(0eg);
	}
	75% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
